[build]
command = "pnpm build"
publish = ".next"

[context.production.environment]
NEXT_PUBLIC_BASE_URL = "https://conga.netlify.app"

[[headers]]
for = "/*"
[headers.values]
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"
